    <div class="first-content">
      <p class="key-sentence1">地域のひとが</p>
      <p class="key-sentence2">家族になる場所。</p>
    </div>

    <section class="list-4 clearfix">
      <h2><%= @place.place %>一覧</h2>
    </section>

<div class="shop-info-in-shoplist clearfix" >
<% @shops.each do |shop| %>
  <h2><%= link_to shop.shop_name, shop_reviews_path(shop.id) %></h2>
   <h2><%= image_tag shop.picture %></h2>
   <h5><%= shop.address %></h5>

<% end %>

</div>
