<div class="contents row">
    <div class="success">
      <h2>
        削除が完了しました。
      </h2>
      <section class="to_mypage clearfix">
      <br><%= link_to "マイページ", user_path(current_user) %>
    </section>

    </div>
</div>
