<div class="contents row">
    <%= form_tag("/shops/#{@shop.id}/reviews/#{@review.id}", method: :patch ) do %>
      <h2>
        編集する
      </h2>

      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @review.content_text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
</div>
