<div class="contents_row">
  <%= form_tag("/shops/#{@shop.id}/reviews", method: :post) do %>
    <h2>
      投稿する
    </h2>

    <h2>本文</h2>
    <h2><textarea cols="30" name="content_text"  rows="10"></textarea></h2>
    <h2><input type="submit" ></h2>
  <% end %>
</div>
